@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-author: var(--font-author);
}

@theme {
  --color-yellow-1: #FEFCEB;
  --color-yellow-2: #F6EED5;
  --color-yellow-3: #F7F1DF;
  --color-yellow-4: #E9DDB9;
  --color-green-1: #527E26;
  --color-green-2: #25350D;
  --color-green-3: #1D290A; 
  --color-green-4: #161E0A;
  --color-green-gray: #2A2F23;
  --color-yellow-extra: #F6EED5;

}


body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: 'lnum';
  font-variant-numeric: lining-nums;
}




input[type='range'] {
  @apply appearance-none w-full h-2 rounded-lg cursor-pointer;
}

input[type='range']::-webkit-slider-thumb {
  @apply bg-green-1 rounded-full w-4 h-4;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type='range']::-webkit-slider-runnable-track {
  @apply bg-yellow-4 h-2 rounded-lg;
}

input[type='range']::-moz-range-thumb {
  @apply bg-green-1 rounded-full w-4 h-4;
}

input[type='range']::-moz-range-track {
  @apply bg-yellow-4 h-2 rounded-lg;
}
